<div class="navbar">
    <div class="navbarFlex">
        <a class = "meltpackLogo" href="/"><img class = "logo" src="assets/graphics/LogoColored.png" alt=""></a>
        <div class = "navbarButtons">
            <a class = "navbarButton" href = "/">HOME <p class="navbarBtnGlow">HOME</p></a>
            <a class = "navbarButton" href = "/#projects">PROJECTS<p class="navbarBtnGlow">PROJECTS</p></a>
            <a class = "navbarButton" href = "/#about">ABOUT<p class="navbarBtnGlow">ABOUT</p></a>
        </div>
        <div class = "socials">
            <a class = "socialButtonFrame" href="https://github.com/LeytonV">
                <img class = "socialButton"src="assets/social/github.png">
            </a>
            <a class = "socialButtonFrame" href="https://instagram.com/meltpack360/">
                <img class = "socialButton"src="assets/social/instagram.png">
            </a>
            <a class = "socialButtonFrame" href="https://twitter.com/meltpacket">
                <img class = "socialButton"src="assets/social/twitter.png">
            </a>
        </div>
    </div>

    <div class="underline"></div>
</div>
