<div class = "taglineSection">
    <p class = "tagline">LEYTON/MELTPACK<br>TECHNICAL ARTIST<br>I PROGRAM - I MODEL - I ANIMATE - I WRITE SHADERS</p>
    <img class = "globe" src="assets/graphics/StraightGlobeCut.png" alt="">
</div>

<p class = "homeCategoryBar"> // PROJECTS</p>

<div class="section">
    <app-projects id="projects"></app-projects>
</div>

<p class = "homeCategoryBar"> // ABOUT ME</p>

<div class="section" id="about">
    <p class = "softwareExperienceTitle">I'm a professional with</p>
        <div class = "experienceList">
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\Unity.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">UNITY3D</p>
                    <p class = "experienceDate">SINCE 2016</p>
                    <p class = "experienceText">-C#</p>
                    <p class = "experienceText">-Debugging</p>
                    <p class = "experienceText">-Shaders</p>
                    <p class = "experienceText">-Animation</p>
                    <p class = "experienceText">-Procgen</p>
                    <p class = "experienceText">-Editor Tools</p>
                </div>
            </div>
    
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\C.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">C#</p>
                    <p class = "experienceDate">SINCE 2016</p>
                    <p class = "experienceText">-Unity</p>
                </div>
            </div>
    
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\blender.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">BLENDER</p>
                    <p class = "experienceDate">SINCE 2017</p>
                    <p class = "experienceText">-Animation</p>
                    <p class = "experienceText">-Vertex Modelling</p>
                    <p class = "experienceText">-Shader Editing</p>
                    <p class = "experienceText">-Exporting</p>
                </div>
            </div>
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\photon.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">PHOTON</p>
                    <p class = "experienceDate">SINCE 2017</p>
                    <p class = "experienceText">-Client-Server architecture</p>
                    <p class = "experienceText">-RPCs</p>
                    <p class = "experienceText">-Synchronisation</p>
                    <p class = "experienceText">-Lobby-Room systems</p>
                </div>
            </div>
        </div>
    
        <p class = "softwareExperienceTitle">I know my way around</p>
        <div class = "experienceList">
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\html.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">HTML</p>
                    <p class = "experienceDate">SINCE 2023</p>
                </div>
            </div>
    
            <div class = "experienceItem">
                <img class = "experienceIcon" src="assets\icons\css.png" alt="" loading="lazy">
                <div>
                    <p class = "experienceName">CSS</p>
                    <p class = "experienceDate">SINCE 2023</p>
                </div>
            </div>
        </div>
        <p class = "subtitle">ABOUT ME</p>
        <div class = "aboutMeBar">
            <p class = "aboutMeDescription">I'm Leyton, and I am a games programmer from the UK. I have a keen interest in technical art, and have been making games for years. During that time, I have gotten my hands into all the ins and outs of the workflow, from animating, to programming, VFX, UI and more.
                I am a learner and team player, although capable on my own.
                I use Unity, C#, and Blender, and am always eager to learn more software and toolsets. I cook in my spare time.</p>
        </div>
</div>

<div class = "footer">
    <div class = "arrowGroup">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
        <img class = "arrow" src="assets/graphics/Arrow.png" alt="">
    </div>
    <p class = "ZeroRightsReserved">© Zero Rights Reserved</p>
</div>